<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>菜名</key>
		<string>蒜香烤土司</string>
		<key>材料</key>
		<array>
			<dict>
				<key>用量</key>
				<string>1大匙</string>
				<key>食材</key>
				<string>奶油</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1茶匙</string>
				<key>食材</key>
				<string>砂糖</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1/8茶匙</string>
				<key>食材</key>
				<string>鹽</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1/4茶匙</string>
				<key>食材</key>
				<string>蒜苗末</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>一片</string>
				<key>食材</key>
				<string>厚片土司</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1茶匙</string>
				<key>食材</key>
				<string>蒜末</string>
			</dict>
		</array>
		<key>做法</key>
		<array>
			<string>1.先將蒜末、蒜苗末、奶油、砂糖均勻混合成抹醬。</string>
			<string>2.再將土司放入烤箱烤至表面略黃，取出塗上作法1的抹醬，再放入烤箱以180℃烤約3分鐘即可。</string>
		</array>
	</dict>
	<dict>
		<key>菜名</key>
		<string>銀杏百合蝦球</string>
		<key>材料</key>
		<array>
			<dict>
				<key>用量</key>
				<string>150公克</string>
				<key>食材</key>
				<string>蝦仁</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>80公克</string>
				<key>食材</key>
				<string>銀杏</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>50公克</string>
				<key>食材</key>
				<string>新鮮百合</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>70公克</string>
				<key>食材</key>
				<string>碗豆莢</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>10公克</string>
				<key>食材</key>
				<string>薑片</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>10公克</string>
				<key>食材</key>
				<string>蒜片</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1/4小匙</string>
				<key>食材</key>
				<string>鹽</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1/4小匙</string>
				<key>食材</key>
				<string>雞粉</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>1/4小匙</string>
				<key>食材</key>
				<string>米酒</string>
			</dict>
			<dict>
				<key>用量</key>
				<string>2大匙</string>
				<key>食材</key>
				<string>高湯</string>
			</dict>
		</array>
		<key>做法</key>
		<array>
			<string>1.蝦仁洗淨，在背部劃一刀備用。</string>
			<string>2.豌豆莢去頭尾洗淨；新鮮百合剝下洗淨備用。</string>
			<string>3.銀杏放入滾水中汆燙一下撈出，再放入作法1的蝦仁汆燙一下撈起備用。</string>
			<string>4.取鍋燒熱，放入2大匙沙拉油，放入薑片和蒜片爆香，再放入作法2、3的所有材料拌炒2分鐘，最後再加入所有的調味料拌炒至入味即可</string>
		</array>
	</dict>
</array>
</plist>
